*{
    box-sizing: border-box;
}

:root{
    --primary-color: #3aafa9;
    --secondary-color: #2e807b;
    --primary-text-color: #def2f1;
    --secondary-text-color:#17252a;
}

html{
    font-family: sans-serif;
    color:var(--primary-text-color);
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--primary-color);
}

hr{
    background-color: var(--secondary-text-color);
    border: 0;
    height: 8px;
    width: 60%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ input placeholder text */ 
    color: var(--primary-text-color);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 input placeholder text */
    color: var(--primary-text-color);
}
  
::-ms-input-placeholder { /* Microsoft Edge input placeholder text */
    color: var(--primary-text-color);
}

option{
    color: var(--secondary-text-color);
}

.titleText{
    width: 100%;
    text-align: left;
    color: var(--secondary-text-color);
}

.searchText{
    color: var(--primary-text-color);
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.headingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin: 0 3%;
    width: 40%;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    width: 100%;
}

.homeImage{
    width: 10vw;
    height: 10vw;
}

.aboutText{
    font-size: 1.4vw;
    margin: 20px 0;
}

.searchContainer{
    margin-top: 10px;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 58px; */
}

.searchbutton{
    border: none;
    border-radius: 10px;
    background: none;
    color: var(--primary-text-color);
    font-size: 1.5em;
    transition-duration: 200ms;
    height: 50px;
}
.searchbutton:hover{
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
}

.top{
    margin-left: 20px;
    margin-top: 0;
    width: fit-content;
}

.searchBar{
    border: 1px solid var(--primary-text-color);
    border-radius: 10px;
    font-size: 1.5em;
    padding: 20px 3%;
    margin: 10px 0;
    background-color: transparent;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    color: var(--primary-text-color);
    outline: none;
}
.menuSearch{
    margin: 0;
    padding-left: 10px;
    width: 100%;
}

.tableContainer{
    margin-right: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-text-color);
    width: 100%;
    height: 90vh;
}


.container{
    background-color: var(--primary-text-color);
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    color: var(--secondary-text-color);
    width: 75%;
}

.dataType{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

.collegeData{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: baseline;
}

.detailTitle{
    width: 19%;
    margin-left: 2%;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.detailTextTitle{
    font-size: 2vw;
}

.summaryText{
    font-size: 1.5vw;
}

.detailContainer{
    margin-top: 110px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    z-index: 0;
}

.menu{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    padding-left: 2%;
    background-color: var(--secondary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: left;
    z-index: 1;
}

.homeButton{
    display: block;
    color: var(--primary-text-color);
    text-decoration: none;
    width: auto;
    padding: 15px 20px 15px;
    transition-duration: 200ms;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
}

.homeButton:hover{
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
}

.collegeList{
    width: 100%;
    overflow-y: scroll;
}

.collegeButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    border-bottom: 1px var(--primary-color) solid;
    min-height: 60px;
    color: var(--secondary-text-color);
}

.summary{
    display: flex;
    opacity: 0;
    padding: 10px;
    transition-duration: 300ms;
    border-radius: 5px;
}

.last{
    border: 0;
}

.topContainer{
    display: flex;
    width: 100%;
    border-bottom: 1px var(--primary-color) solid;
}

.header{
    width: calc(100% - 17px);
    border: 0;
}

.collegeButton{
    width: 20%;
    text-decoration: underline;
    color: var(--secondary-text-color);
}

.quickInfo{
    transition-duration: 300ms;
}

.collegeSummary{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataGroup{
    padding: 20px;
    width: 30%;
}

.generalInfo{
    padding-left: 3%;
}

.search{
    padding-top: 0;
    padding-bottom: 0;
}

.footer{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

@media (max-width:1200px){
    .content{
        flex-direction: column;
    }
    .headingContainer{
        width: 94%;
        flex-direction: row;
        justify-content: space-around;
        top:0;
        margin: 1% 3% 3%;
    }
    .infoContainer{
        flex: 2;
        margin: 0 20px;
    }
    .aboutContainer{
        margin: 0 20px;
        flex: 2;
        
    }
    /* .aboutText{
        font-size: 1.6vw;
    } */
    .imageContainer{
        margin: 0 20px;
    }
    .header{
        width: 100%;
    }
    .tableContainer{
        width: 94%;
        margin: 1% 3% 1%;
        height: 80vh;
    }
    .collegeButtonContainer{
        font-size: 1.5em;
    }
    .dataGroup{
        font-size: 1.5em;
    }
    .detailContainer{
        flex-direction: column;
    }
    .detailTextTitle{
        font-size: 3em;
    }
    .detailTitle{
        position: relative;
        width: 98%;
        top: 0;
        transform: translateY(0%);
    }
    .quickInfo{
        display: inline-block;
    }
    .container{
        width: 96%;
    }
}

/* start animation */
.intro{
    background-color: var(--primary-color);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.intro-text{
    color: rgb(233, 233, 233);
    font-family:"Heebo", sans-serif;
    font-size: 3rem;
    text-align: center;
}

.hide{
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

.hidden{
    display: none;
}