<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'query/css/style.css' %}">
        <script type="text/javascript" src="{% static 'query/js/scripts.js' %}"></script>        
    </head>
    <body>
        <h1>About page</h1>
        <p>learn about how I put this database together and what everything means!</p>
        <h1>What all the Statistics Mean</h1>
        <p>Acceptance rate: Percentage of students who applied that are accepted into the university</p>
        <p>Yield rate: Percentage of accepted students that actually enroll and attend the university</p>
        <p></p>
    </body>
</html>