<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'query/css/style.css' %}">
        <script type="text/javascript" src="{% static 'query/JS/scripts.js' %}"></script>
    </head>
    <body>
        <span class="content">
            <div class="headingContainer">
                <h1 id="title">Select a college from the list <br><br>Or<br><br>Search for a college</h1>
                <form class="searchContainer" action="{% url 'searchResults' %}" method="get">
                    <input class="searchBar" name='q' type="text" placeholder="Search...">
                    <button class="searchButton">Search</button>
                </form>
                <div style="padding-top: 10px;">
                    <a class="homeButton" href="/">Clear Search</a>
                </div>
            </div>
    
            <div class="tableContainer">
                <div class="topContainer">
                    <span class="collegeButtonContainer header">
                        <p class="collegeButton">Name</p>
                        <p class="collegeSummary">Acceptance Rate</p>
                        <p class="collegeSummary">School Year</p>
                        <p class="collegeSummary">Total Cost</p>
                        <p class="collegeSummary">SAT Average</p>
                    </span>    
                </div>
                <div class="collegeList">
                    {% block content %}{% endblock %}
                </div>
            </div>
    
        </span>
    </body>
</html>
