<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>College Data</title>

        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'query/css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <div class="content">
            <div class="headingContainer">
                <div class="infoContainer">
                    <h1 class='titleText searchText'>Search for a college below..</h1>
                    <form class="searchContainer" action="{% url 'searchResults' %}" method="get" autocomplete="off">
                        <input class="searchBar" name='n' type="text" placeholder="Name" list="collegeSet" value='{{currName}}''>
                        <datalist id="collegeSet">
                            {% for college in Colleges %}
                                <option value="{{college.name}}">
                            {% endfor %}
                        </datalist>
                        <select class="searchBar" name='s' list="stateSet">
                        <datalist id="stateSet">
                            <option selected>State</option>
                            {% for college in States %}
                                {% if college.state == currState %}
                                    <option value="{{ college.state }}" selected>{{college.state}}</option>
                                {% else %}
                                    <option value="{{ college.state }}">{{college.state}}</option>
                                {% endif %}
                            {% endfor %}
                        </datalist>
                        <input type='submit' class="searchbutton" value='Search'></button>
                        <a class="homeButton" href="{% url 'query-home' %}">Clear</a>
                    </form>

                </div>
                <div class="aboutContainer">
                    <h1 class="titleText" id="title">Select a college from the list to find detailed information.</h1>
                    <hr />
                    <div><p class="aboutText">All Information presented is gathered from the Common Data Set and published voluntarily by Colleges and Universities.</p></div>
                    
                </div>
            </div>
    
            <div class="tableContainer">
                <div class="topContainer">
                    <span class="collegeButtonContainer header">
                        <p class="collegeButton">Name</p>
                        <p class="collegeSummary">Acceptance Rate</p>
                        <p class="collegeSummary">School Year</p>
                        <p class="collegeSummary">Total Cost</p>
                        <p class="collegeSummary">SAT Average</p>
                        <p class="collegeSummary">State</p>
                    </span>    
                </div>
                <div class="collegeList">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% load static %}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="{% static 'query/js/scripts.js' %}"></script>

    </body>
</html>
