<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'query/css/style.css' %}">

    </head>
    <body>
        <span class="content">
            <div class="headingContainer">
                <h1 class='titleText searchText'>Search for a college below,</h1>
                <form class="searchContainer" action="{% url 'searchResults' %}" method="get" autocomplete="off">
                    <input id="search" class="searchBar" name='q' type="text" placeholder="Search..." list="collegeSet">
                    <datalist id="collegeSet">
                        {% for college in Colleges%}
                            <option value="{{college.name}}">
                        {% endfor %}
                    </datalist>
                    <a class="homeButton" href="/">Clear</a>

                </form>
                <h1 class="titleText">or</h1>
                <h1 class="titleText" id="title">select a college from the list on the right</h1>
                <h1 class="titleText">to find detailed information for any college on the list</h1>

            </div>
    
            <div class="tableContainer">
                <div class="topContainer">
                    <span class="collegeButtonContainer header">
                        <p class="collegeButton">Name</p>
                        <p class="collegeSummary">Acceptance Rate</p>
                        <p class="collegeSummary">School Year</p>
                        <p class="collegeSummary">Total Cost</p>
                        <p class="collegeSummary">SAT Average</p>
                    </span>    
                </div>
                <div class="collegeList">
                    {% block content %}{% endblock %}
                </div>
            </div>
    
        </span>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="{% static 'query/JS/scripts.js' %}"></script>
    </body>
</html>
