<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'query/style.css' %}">
    </head>
    <body>
        <div>
            <h1>Select a college from the list below!</h1>
        </div>


        <form action="{% url 'searchResults' %}" method="get">
            <input name='q' type="text" placeholder="Search...">
        </form>
        <span class="collegeButtonContainer">
            <p class="collegeSummary">Name</p>
            <p class="collegeSummary">Acceptance Rate</p>
            <p class="collegeSummary">School Year</p>
        </span>

        {% for college in object_list %}
            <!-- <div class="generalInfo">
                <h2>{{ college.name }}</h1>
                <p>School year: {{ college.year }}</p>
                <a class='collegeButton' href='{% url "details" college.id %}'>More info on {{college.name}}</a>    
                <p>Quick Summary</p>
            </div>
            <div class='collegeData'>
                <span class="dataGroup search">
                    <h3>Acceptance Statistics</h3>
                    <p>Total Acceptance Rate: {{ college.totalAcceptRate }}%</p>
                    <p>Male Acceptance Rate: {{ college.maleAcceptRate }}%</p>
                    <p>Female Acceptance Rate: {{ college.femaleAcceptRate }}%</p>    
                </span>
                <span class="dataGroup search">
                    <h3>Application Statistics</h3>
                    <p>Total Applications: {{college.totalApps }}</p>
                    <p>Male Applications: {{college.maleApps }}</p>
                    <p>Female Applications: {{college.femaleApps }}</p>
                </span>
                <span class="dataGroup search">
                    <h3>Admission Statistics</h3>
                    <p>Total Admissions: {{college.totalAdmits }}</p>
                    <p>Male Admissions: {{college.maleAdmits }}</p>
                    <p>Female Admissions: {{college.femaleAdmits }}</p>
                </span>
                <span class="dataGroup search">
                    <h3>Enrollment Statistics</h3>
                    <p>Total Enrolled: {{college.totalEnrolled }}</p>
                    <p>Male Enrolled: {{college.maleEnrolled }}</p>
                    <p>Female Enrolled: {{college.femaleEnrolled }}</p>
                </span>
                <span class='dataGroup search'>
                    <h3>Yield Statistics</h3>
                    <p>Total Yield: {{college.totalYield}}%</p>
                    <p>Male Yield: {{college.maleYield}}%</p>
                    <p>Female Yield: {{college.femaleYield}}%</p>
                </span>
            </div> -->
                <div class="collegeList">
                    <script>
                        year = document.getElementById("yearSelect").value
                    </script>
                        <span class="collegeButtonContainer">
                            <a class='collegeButton' href='{% url "details" college.id %}'>{{college.name}}</a>
                            <p class="collegeSummary">{{ college.totalAcceptRate }}</p>
                            <P class="collegeSummary">{{ college.year }}</P>
                        </span>
                </div>

        {% endfor %}
        <a href="/">Home</a>
    </body>
</html>