<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ college.name }}</title>
        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'query/css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <div class='collegeData menu'>
            <form class="searchContainer top" action="{% url 'details' college.id %}" method="get" autocomplete="off">
                <input class="searchBar menuSearch" name='q' type="text" placeholder="Search..." list=collegeSet>
                <datalist id="collegeSet">
                    {% for college in Colleges%}
                        <option value="{{college.name}}">
                    {% endfor %}
                </datalist>
                <a href="/" class="homeButton">Home</a>
            </form>
        </div>
        <span class="detailContainer">
            <div class="collegeData detailTitle">
                <div style="padding: 20px;">
                    <h1 class="detailTextTitle">{{ college.name }}</h1>
                    <h2>School year: {{ college.year }}</h2>
                    <h2>Student to faculty ratio: {{college.studentFacultyRatio}}</p>    
                    <h2>Division {{college.athDiv}}</h2>
                    <h2>Atheltic Conference: {{college.athConference}}</h2>
                </div>    
            </div>

            <div class="container">
                <div class="dataType">
                    <h1>Acceptance</h1>
                    <div class="collegeData">
                        <div class="dataGroup">
                            <h3>Acceptance Rates</h3>
                            <p>The percentage of applied students that were accepted.</p>
                            <p>Total Acceptance Rate: {{ college.totalAcceptRate }}%</p>
                            <p>Male Acceptance Rate: {{ college.maleAcceptRate }}%</p>
                            <p>Female Acceptance Rate: {{ college.femaleAcceptRate }}%</p>
                        </div>
                        <div class="dataGroup">
                            <h3>Applications</h3>
                            <p>Applications are the number of students that applied to the university.</p>
                            <p>Total Applications: {{college.totalApps }}</p>
                            <p>Male Applications: {{college.maleApps }}</p>
                            <p>Female Applications: {{college.femaleApps }}</p>
                        </div>
                        <div class="dataGroup">
                            <h3>Admissions</h3>
                            <p>Admissions are the number of students that are accepted into the university.</p>
                            <p>Total Admissions: {{college.totalAdmits }}</p>
                            <p>Male Admissions: {{college.maleAdmits }}</p>
                            <p>Female Admissions: {{college.femaleAdmits }}</p>
                        </div>                                
                    </div>
                </div>

                <div class="dataType">
                    <h1>Enrollment</h1>
                    <div class="collegeData">
                        <div class='dataGroup'>
                            <h3>Yield Rates</h3>
                            <p>Yield is the percent of accepted students that attend the university.</p>
                            <p>Total Yield: {{college.totalYield}}%</p>
                            <p>Male Yield: {{college.maleYield}}%</p>
                            <p>Female Yield: {{college.femaleYield}}%</p>
                        </div>
                        <div class="dataGroup">
                            <h3>Enrollments</h3>
                            <p>Enrollment is the number of accepted students that attend the university.</p>
                            <p>Total Enrolled: {{college.totalEnrolled }}</p>
                            <p>Male Enrolled: {{college.maleEnrolled }}</p>
                            <p>Female Enrolled: {{college.femaleEnrolled }}</p>
                        </div>
                        <div class='dataGroup'>
                            <h3>Wait List Data</h3>
                            <p>Colleges wait list statistics (if published) </p>
                            {% if college.offeredWaitlist == 0 and college.tookWaitlist == 0 and college.admittedWaitlist == 0%}
                                <p>This Data was not published by this school</p>
                            {% elif college.offeredWaitlist == 0 and college.tookWaitlist == 0 %}
                                <p>Students accepted from waitlist: {{college.admittedWaitlist}}</p>
                            {% else %}
                                <p>Students Offered a wait-list spot: {{college.offeredWaitlist}}</p>
                                <p>Students that took their spot on the wait-list: {{college.tookWaitlist}}</p>
                                <p>Students that were admitted from the wait-list: {{college.admittedWaitlist}}</p>
                                <p>wait-list acceptance rate: {{college.waitlistAcceptRate}}%</p>
                            {% endif %}
                        </div>
    
                    </div>
                </div>

                <div class="dataType">
                    <h1>Standardized Tests</h1>
                    <div class='collegeData'>
                        <div class='dataGroup'>
                            <h3>SAT Scores</h3>
                            <p>SAT writing middle 50%: {{ college.satWriting25th }} - {{college.satWriting75th}}</p>
                            <p>SAT math middle 50%: {{ college.satMath25th }} - {{college.satMath75th}}</p>
                            <p>SAT composite middle 50%: {{college.satTotal25th}} - {{college.satTotal75th}} </p>
                        </div>
                        <div class='dataGroup'>
                            <h3>ACT Scores</h3>
                            <p>ACT writing middle 50%: {{ college.actEnglish25th }} - {{college.actEnglish75th}}</p>
                            <p>ACT math middle 50%: {{ college.actMath25th }} - {{college.actMath75th}}</p>
                            <p>ACT composite middle 50%: {{college.actTotal25th}} - {{college.actTotal75th}} </p>
                        </div>
                        <div class="dataGroup">
                            <h3>GPA</h3>
                            <p>GPA on 4.0 scale</p>
                            {% if college.gpaFour == 0 and college.gpaThreeSevenFive == 0 %}
                                <p>This data was not published by {{college.name}}</p>
                            {% else %}

                                <p>percent of students with GPA of 4.0: {{ college.gpaFour }}</p>
                                <p>percent of students with GPA 3.75-3.99: {{ college.gpaThreeSevenFive }}</p>
                                <p>percent of students with GPA of 3.50-3.74: {{ college.gpaThreeFive }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
        
                <div class='collegeData'>
                    <div class='dataGroup'>
                        <h3>Ethinic Breakdown of Total Undergraduates</h3>
                        <p>International Students: {{college.internationalStudents}}</p>
                        <p>Hispanic Students: {{college.hispanicStudents}}</p>
                        <p>African-American, non-Hispanic students: {{college.blackStudents}}</p>
                        <p>White, non-Hispanic students: {{college.whiteStudents}}</p>
                        <p>American Indian or Alaka Native, non-Hispanic students: {{college.nativeStudents}}</p>
                        <p>Asian, non-Hispanic students: {{ college.asianStudents}}</p>
                        <p>Native Hawaiian or Pacific Islander, non-hispanic: {{college.pacificStudents}}</p>
                        <p>Two or more races, non-Hispanic {{college.mixedStudents}}</p>
                        <p>Unknown Ethnicity students: {{college.unknownStudents}}</p>
                    </div>
                </div>
        
                <div class='collegeData'>
                    <div class='dataGroup'>
                        <h3>Costs</h3>
                        <p>Tuition Cost: ${{college.tuitionCost}}</p>
                        <p>Room Cost: ${{college.roomCost}}</p>
                        <p>Board Cost: ${{college.boardCost}}</p>
                        <p>Required Fees Cost: ${{college.requiredFeeCost}}</p>
                        <h3>Total Cost: ${{college.totalCost}}</h3>
                    </div>
                </div>
            </div>    
        </span>

        <div class="footer">
            <p>All data was gathered through the Common Data Set and published by the universities</p>
        </div>

        <div class="intro">
            <div class="intro-text">
                <h1 class="hide">
                    <span class="text">{{ college.name }}</span>
                </h1>
                <h1 class="hide">
                    <span class="text">{{college.year}}</span>
                </h1>
                <h1 class="hide">
                    <span class="text">Information</span>
                </h1>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

        {% load static %}
        <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
        integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
        crossorigin="anonymous"
        ></script>

        <script type="text/javascript" src="{% static 'query/js/details.js' %}"></script>
    </body>
</html>
