<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ college.name }}</title>
        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'query/css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <div class='collegeData menu'>
            <a href="{%url 'query-home'%}" class="homeButton">Home</a>
            <form class="searchContainer top" action="{% url 'details' college.id %}" method="get" autocomplete="off">
                <input class="searchBar menuSearch" name='q' type="text" placeholder="Search..." list=collegeSet>
                <datalist id="collegeSet">
                    {% for college in Colleges%}
                        <option value="{{college.name}}">
                    {% endfor %}
                </datalist>
                <input class="searchbutton" style='padding: 15px 20px 15px; height: 100%' type='submit' value='Search'>
            </form>
        </div>
        <span class="detailContainer">
            <div class="collegeData detailTitle">
                <div style="padding: 20px;">
                    <h1 class="detailTextTitle">{{ college.name }}</h1>
                    <div class='quickInfo'>
                        <h2 class='summaryText'>School year: <br> {{ college.year }}</h2>
                        <h2 class='summaryText'>Student to faculty ratio: <br> {{college.studentFacultyRatio}}</p>    
                        <h2 class='summaryText'>Division <br> {{college.athDiv}}</h2>
                        <h2 class='summaryText'>Atheltic Conference: <br> {{college.athConference}}</h2>
                        <h2 class='summaryText'>State: <br> {{college.state}}</h2>    
                    </div>
                </div>    
            </div>

            <div class="container">
                <div class="dataType">
                    <h1>Acceptance</h1>
                    <div class="collegeData">
                        <div class="dataGroup">
                            <h3 class="info">Applications</h3>
                            <p>Total Applications: <br><b>{{college.totalApps }}</b></p>
                            <p>Male Applications: <br><b>{{college.maleApps }}</b></p>
                            <p>Female Applications: <br><b>{{college.femaleApps }}</b></p>
                            <p class='summary'>The number of students that applied to the university.</p>
                        </div>
                        <div class="dataGroup">
                            <h3 class="info">Admissions</h3>
                            <p>Total Admissions: <br><b>{{college.totalAdmits }}</b></p>
                            <p>Male Admissions: <br><b>{{college.maleAdmits }}</b></p>
                            <p>Female Admissions: <br><b>{{college.femaleAdmits }}</b></p>
                            <p class='summary'>The number of students that are accepted into the university.</p>
                        </div>                                
                        <div class="dataGroup">
                            <h3 class="info">Acceptance Rates</h3>
                            <p>Total Acceptance Rate: <br><b>{{ college.totalAcceptRate }}%</b></p>
                            <p>Male Acceptance Rate: <br><b>{{ college.maleAcceptRate }}%</b></p>
                            <p>Female Acceptance Rate: <br><b>{{ college.femaleAcceptRate }}%</b></p>
                            <p class='summary'>The percentage of applied students that were admitted. (admitted students divided by applied students)</p>
                        </div>
                    </div>
                </div>

                <div class="dataType">
                    <h1>Enrollment</h1>
                    <div class="collegeData">
                        <div class="dataGroup">
                            <h3 class="info">Enrollments</h3>
                            <p>Total Enrolled: <br><b>{{college.totalEnrolled }}</b></p>
                            <p>Male Enrolled: <br><b>{{college.maleEnrolled }}</b></p>
                            <p>Female Enrolled: <br><b>{{college.femaleEnrolled }}</b></p>
                            <p class='summary'>The number of accepted students that attend the university.</p>
                        </div>
                        <div class='dataGroup'>
                            <h3 class="info">Yield Rates</h3>
                            <p>Total Yield: <br><b>{{college.totalYield}}%</b></p>
                            <p>Male Yield: <br><b>{{college.maleYield}}%</b></p>
                            <p>Female Yield: <br><b>{{college.femaleYield}}%</b></p>
                            <p class='summary'>The percent of accepted students that enroll in the university. (enrolled students divided by accepted students)</p>
                        </div>
                        <div class='dataGroup'>
                            <h3 class="info">Waiting List Data</h3>
                            <p>Students offered a spot on the waiting list: <br><b>{% if college.offeredWaitlist == 0 %}
                                Not Published
                                {% else %}
                                {{college.offeredWaitlist}}
                                {% endif %}</b>
                            </p>
                            <p>Students offered a spot on the waiting list: <br><b>{% if college.tookWaitlist == 0 %}
                                Not Published
                                {% else %}
                                {{college.tookWaitlist}}
                                {% endif %}</b>
                            </p>
                            <p>Students admitted from the waiting list: <br><b>{% if college.admittedWaitlist == 0 and college.tookWaitlist == 0 and college.offeredWaitlist == 0 %}
                                Not Published
                                {% else %}
                                {{college.admittedWaitlist}}
                                {% endif %}</b>
                            </p>
                            <p class='summary'>Students who are qualified and can get in, but have to wait until enough accepted students decide not to attend.</p>
                        </div>
                    </div>
                </div>

                <div class="dataType">
                    <h1>Standardized Tests</h1>
                    <div class='collegeData'>
                        <div class='dataGroup'>
                            <h3 class="info">SAT Scores</h3>
                            <p>SAT writing middle 50%: <br><b>{{ college.satWriting25th }} - {{college.satWriting75th}}</b></p>
                            <p>SAT math middle 50%: <br><b>{{ college.satMath25th }} - {{college.satMath75th}}</b></p>
                            <p>SAT composite middle 50%: <br><b>{{college.satTotal25th}} - {{college.satTotal75th}}</b></p>
                            <p class='summary'>The SAT score breakdown for {{ college.name }}.</p>
                        </div>
                        <div class='dataGroup'>
                            <h3 class="info">ACT Scores</h3>
                            <p>ACT writing middle 50%: <br><b>{{ college.actEnglish25th }} - {{college.actEnglish75th}}</b></p>
                            <p>ACT math middle 50%: <br><b>{{ college.actMath25th }} - {{college.actMath75th}}</b></p>
                            <p>ACT composite middle 50%: <br><b>{{college.actTotal25th}} - {{college.actTotal75th}}</b></p>
                            <p class='summary'>The ACT score breakdown for {{ college.name }}.</p>
                        </div>
                        <div class="dataGroup">
                            <h3 class="info">GPA</h3>
                            <p>GPA on 4.0 scale</p>
                            {% if college.gpaFour == 0 and college.gpaThreeSevenFive == 0 %}
                                <p>This data was not published by {{college.name}}</p>
                            {% else %}

                                <p>percent of students with GPA of 4.0: <br><b>{{ college.gpaFour }}%</b></p>
                                <p>percent of students with GPA 3.75-3.99: <br><b>{{ college.gpaThreeSevenFive }}%</b></p>
                                <p>percent of students with GPA of 3.50-3.74: <br><b>{{ college.gpaThreeFive }}%</b></p>
                            {% endif %}
                            <p class='summary'>The GPA breakdown for {{ college.name }} in the 4.0-3.5 range.</p>
                        </div>
                    </div>
                </div>

                <div class="dataType">
                    <h1>Financial Aid</h1>
                    <div class='collegeData'>
                        <div class='dataGroup'>
                            <h3>Application</h3>
                            <p>Total Students applied for financial aid: <br><b>{{college.totalAppForAid}}</b></p>
                            <p>Freshmen who applied for financial aid: <br><b>{{college.froshAppForAid}}</b></p>
                            <p>Percent of total Students who applied for financial aid: <br><b>{{college.totalPercentAppForAid}}%</b></p>
                            <p>Percent of Freshmen who applied for financial aid: <br><b>{{college.froshPercentAppForAid}}%</b></p>
                            <p class='summary'>Enrolled students that apply for financial aid</p>
                        </div>
                        <div class='dataGroup'>
                            <h3 class="info">Reception</h3>
                            <p>Total students that recieved financial aid: <br><b>{{college.totalGotFinAid}}</b></p>
                            <p>Freshmen that recieved financial aid: <br><b>{{college.froshGotFinAid}}</b></p>
                            <p>Percent of total students who recieved financial aid: <br><b>{{college.perTotalGotAid}}%</b></p>
                            <p>Percent of freshmen who recieved financial aid: <br><b>{{college.perFroshGotAid}}%</b></p>
                            <p class='summary'>Enrolled Students that actually recieve financial aid</p>
                        </div>
                        <div class="dataGroup">
                            <h3 class="info">Costs</h3>
                            <p>Average financial aid recieved for all students: <br><b>${{college.totalAvgFinAid}}</b> </p>
                            <p>Average financial aid recieved for freshmen: <br><b>${{college.froshAvgFinAid}}</b></p>
                            <h3>Average Cost For those who recieved aid: <br><b>${{college.avgCostAfterAid}}</b></h3>
                            <p class="summary">Cost of Univeristy After Aid is accounted for</p>
                        </div>
                    </div>
                </div>    

                <div class="dataType">
                    <h1>Other Important Information</h1>
                    <div class='collegeData'>
                        <div class='dataGroup'>
                            <h3 class="info">Ethinic Breakdown of Total Undergraduates</h3>
                            <p>International Students: <br><b>{{college.internationalStudents}}</b></p>
                            <p>Hispanic Students: <br><b>{{college.hispanicStudents}}</b></p>
                            <p>African-American, non-Hispanic students: <br><b>{{college.blackStudents}}</b></p>
                            <p>White, non-Hispanic students: <br><b>{{college.whiteStudents}}</b></p>
                            <p>American Indian or Alaka Native, non-Hispanic students: <br><b>{{college.nativeStudents}}</b></p>
                            <p>Asian, non-Hispanic students: <br><b>{{ college.asianStudents}}</b></p>
                            <p>Native Hawaiian or Pacific Islander, non-hispanic: <br><b>{{college.pacificStudents}}</b></p>
                            <p>Two or more races, non-Hispanic <br><b>{{college.mixedStudents}}</b></p>
                            <p>Unknown Ethnicity students: <br><b>{{college.unknownStudents}}</b></p>
                            <p class='summary'>How ethnic groups are represented at {{college.name}}</p>
                        </div>
                        <div class='dataGroup'>
                            <h3 class="info">Finances (Without Financial Aid)</h3>
                            <p>Tuition Cost: <br><b>${{college.tuitionCost}}</b></p>
                            {% if college.boardCost != 0 %}
                                <p>Room Cost: <br><b>${{college.roomCost}}</b></p>
                                <p>Board Cost: <br><b>${{college.boardCost}}</b></p>
                            {% else %}
                                <p>Room and Board: <br><b>${{college.roomCost}}</b></p>
                            {% endif %}
                            <p>Required Fees Cost: <br><b>${{college.requiredFeeCost}}</b></p>
                            <h3>Total Cost: <br><b>${{college.totalCost}}</b></h3>
                            {% if college.inStateTuitionCost != 0 and college.inStateTuitionCost != college.tuitionCost %}
                            <h3>Total In-State Cost: <br><b>${{college.inStateCost}}</b></h3>
                            {% endif %}
                            <p>*all of this data is before any financial aid or scholarships. This is not representative of the average cost to go to {{college.name}}</p>
                            <p class='summary'>The RAW cost to go to {{college.name}} BEFORE any financial aid is added</p>
                        </div>
                        <div class="dataGroup">
                            <h3 class="info">National Ranking</h3>
                            <p>US News and World Report Rank: 
                                <br><b>{% if college.usnRank == 0 %}
                                    Not Ranked
                                    {% else %}
                                    {{college.usnRank}}
                                    {% endif %}</b>
                            </p>
                            <p>Niche Rank: 
                                <br><b>{% if college.nicheRank == 0 %}
                                    Not Ranked
                                    {% else %}
                                    {{college.nicheRank}}
                                    {% endif %}</b>
                            </p>
                            <p>Wall Street Journal Rank:
                                <br><b>{% if college.wsjRank == 0 %}
                                    Not Ranked
                                    {% else %}
                                    {{college.wsjRank}}
                                    {% endif %}</b>
                            </p>
                            <p class="summary">Rank of college based on multiple sources</p>
                        </div>
                    </div>
                </div>    
            </div>
        </span>

        <div class="footer">
            <p>All data was gathered through the Common Data Set</p>
            <p>data is published voluntarily by universities</p>
        </div>

        <div class="intro">
            <div class="intro-text">
                <h1 class="hide">
                    <span class="text">{{ college.name }}</span>
                </h1>
                <h1 class="hide">
                    <span class="text">{{college.year}}</span>
                </h1>
                <h1 class="hide">
                    <span class="text">Information</span>
                </h1>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

        {% load static %}
        <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
        integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
        crossorigin="anonymous"
        ></script>

        <script type="text/javascript" src="{% static 'query/js/details.js' %}"></script>
    </body>
</html>
