<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ college.name }}</title>
        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'query/css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <div class='collegeData menu'>
            <a href="/" class="homeButton">Home</a>
            <form class="searchContainer top" action="{% url 'details' college.id %}" method="get" autocomplete="off">
                
                <input class="searchBar menuSearch" name='q' type="text" placeholder="Search..." list=collegeSet>
                <datalist id="collegeSet">
                    {% for college in Colleges%}
                        <option value="{{college.name}}">
                    {% endfor %}
                </datalist>
            </form>
        </div>
        <span class="detailContainer">
            <div class="collegeData detailTitle">
                <div style="padding: 20px;">
                    <h1 class="detailTextTitle">{{ college.name }}</h1>
                    <div class='quickInfo'>
                        <h2 class='summaryText'>School year: <br> {{ college.year }}</h2>
                        <h2 class='summaryText'>Student to faculty ratio: <br> {{college.studentFacultyRatio}}</p>    
                        <h2 class='summaryText'>Division <br> {{college.athDiv}}</h2>
                        <h2 class='summaryText'>Atheltic Conference: <br> {{college.athConference}}</h2>
                        <h2 class='summaryText'>State: <br> {{college.state}}</h2>    
                    </div>
                </div>    
            </div>

            <div class="container">
                <div class="dataType">
                    <h1>Acceptance</h1>
                    <div class="collegeData">
                        <div class="dataGroup">
                            <h3 class="info">Acceptance Rates</h3>
                            <p class='summary'>The percentage of applied students that were accepted.</p>
                            <p>Total Acceptance Rate: <br>{{ college.totalAcceptRate }}%</p>
                            <p>Male Acceptance Rate: <br>{{ college.maleAcceptRate }}%</p>
                            <p>Female Acceptance Rate: <br>{{ college.femaleAcceptRate }}%</p>
                        </div>
                        <div class="dataGroup">
                            <h3 class="info">Applications</h3>
                            <p class='summary'>Applications are the number of students that applied to the university.</p>
                            <p>Total Applications: <br>{{college.totalApps }}</p>
                            <p>Male Applications: <br>{{college.maleApps }}</p>
                            <p>Female Applications: <br>{{college.femaleApps }}</p>
                        </div>
                        <div class="dataGroup">
                            <h3 class="info">Admissions</h3>
                            <p class='summary'>Admissions are the number of students that are accepted into the university.</p>
                            <p>Total Admissions: <br>{{college.totalAdmits }}</p>
                            <p>Male Admissions: <br>{{college.maleAdmits }}</p>
                            <p>Female Admissions: <br>{{college.femaleAdmits }}</p>
                        </div>                                
                    </div>
                </div>

                <div class="dataType">
                    <h1>Enrollment</h1>
                    <div class="collegeData">
                        <div class='dataGroup'>
                            <h3 class="info">Yield Rates</h3>
                            <p class='summary'>Yield is the percent of accepted students that attend the university.</p>
                            <p>Total Yield: <br>{{college.totalYield}}%</p>
                            <p>Male Yield: <br>{{college.maleYield}}%</p>
                            <p>Female Yield: <br>{{college.femaleYield}}%</p>
                        </div>
                        <div class="dataGroup">
                            <h3 class="info">Enrollments</h3>
                            <p class='summary'>Enrollment is the number of accepted students that attend the university.</p>
                            <p>Total Enrolled: <br>{{college.totalEnrolled }}</p>
                            <p>Male Enrolled: <br>{{college.maleEnrolled }}</p>
                            <p>Female Enrolled: <br>{{college.femaleEnrolled }}</p>
                        </div>
                        <div class='dataGroup'>
                            <h3 class="info">Waiting List Data</h3>
                            <p class='summary'>{{college.name}}'s waiting list breakdown (if published). </p>
                            <p>Students offered a spot on the waiting list: <br>{% if college.offeredWaitlist == 0 %}
                                Not Published
                                {% else %}
                                {{college.offeredWaitlist}}
                                {% endif %}
                            </p>
                            <p>Students offered a spot on the waiting list: <br>{% if college.tookWaitlist == 0 %}
                                Not Published
                                {% else %}
                                {{college.tookWaitlist}}
                                {% endif %}
                            </p>
                            <p>Students admitted from the waiting list: <br>{% if college.admittedWaitlist == 0 and college.tookWaitlist == 0 and college.offeredWaitlist == 0 %}
                                Not Published
                                {% else %}
                                {{college.admittedWaitlist}}
                                {% endif %}
                            </p>
                        </div>
    
                    </div>
                </div>

                <div class="dataType">
                    <h1>Standardized Tests</h1>
                    <div class='collegeData'>
                        <div class='dataGroup'>
                            <h3 class="info">SAT Scores</h3>
                            <p class='summary'>The SAT score breakdown for {{ college.name }}.</p>
                            <p>SAT writing middle 50%: <br>{{ college.satWriting25th }} - {{college.satWriting75th}}</p>
                            <p>SAT math middle 50%: <br>{{ college.satMath25th }} - {{college.satMath75th}}</p>
                            <p>SAT composite middle 50%: <br>{{college.satTotal25th}} - {{college.satTotal75th}} </p>
                        </div>
                        <div class='dataGroup'>
                            <h3 class="info">ACT Scores</h3>
                            <p class='summary'>The ACT score breakdown for {{ college.name }}.</p>
                            <p>ACT writing middle 50%: <br>{{ college.actEnglish25th }} - {{college.actEnglish75th}}</p>
                            <p>ACT math middle 50%: <br>{{ college.actMath25th }} - {{college.actMath75th}}</p>
                            <p>ACT composite middle 50%: <br>{{college.actTotal25th}} - {{college.actTotal75th}} </p>
                        </div>
                        <div class="dataGroup">
                            <h3 class="info">GPA</h3>
                            <p class='summary'>The GPA breakdown for {{ college.name }} in the 4.0-3.5 range.</p>
                            <p>GPA on 4.0 scale</p>
                            {% if college.gpaFour == 0 and college.gpaThreeSevenFive == 0 %}
                                <p>This data was not published by {{college.name}}</p>
                            {% else %}

                                <p>percent of students with GPA of 4.0: <br>{{ college.gpaFour }}%</p>
                                <p>percent of students with GPA 3.75-3.99: <br>{{ college.gpaThreeSevenFive }}%</p>
                                <p>percent of students with GPA of 3.50-3.74: <br>{{ college.gpaThreeFive }}%</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="dataType">
                    <h1>Other Important Information</h1>
                    <div class='collegeData'>
                        <div class='dataGroup'>
                            <h3 class="info">Ethinic Breakdown of Total Undergraduates</h3>
                            <p class='summary'>How ethnic groups are represented at {{college.name}}</p>
                            <p>International Students: <br>{{college.internationalStudents}}</p>
                            <p>Hispanic Students: <br>{{college.hispanicStudents}}</p>
                            <p>African-American, non-Hispanic students: <br>{{college.blackStudents}}</p>
                            <p>White, non-Hispanic students: <br>{{college.whiteStudents}}</p>
                            <p>American Indian or Alaka Native, non-Hispanic students: <br>{{college.nativeStudents}}</p>
                            <p>Asian, non-Hispanic students: <br>{{ college.asianStudents}}</p>
                            <p>Native Hawaiian or Pacific Islander, non-hispanic: <br>{{college.pacificStudents}}</p>
                            <p>Two or more races, non-Hispanic <br>{{college.mixedStudents}}</p>
                            <p>Unknown Ethnicity students: <br>{{college.unknownStudents}}</p>
                        </div>
                        <div class='dataGroup'>
                            <h3 class="info">Finances</h3>
                            <p class='summary'>The RAW cost to go to {{college.name}} BEFORE any financial aid is added</p>
                            <p>Tuition Cost: <br>${{college.tuitionCost}}</p>
                            {% if college.boardCost != 0 %}
                                <p>Room Cost: <br>${{college.roomCost}}</p>
                                <p>Board Cost: <br>${{college.boardCost}}</p>
                            {% else %}
                                <p>Room and Board: <br>${{college.roomCost}}</p>
                            {% endif %}
                            <p>Required Fees Cost: <br>${{college.requiredFeeCost}}</p>
                            <h3>Total Cost: <br>${{college.totalCost}}</h3>
                            {% if college.inStateTuitionCost != 0 and college.inStateTuitionCost != college.tuitionCost %}
                            <h3>Total In-State Cost: <br>${{college.inStateCost}}</h3>
                            {% endif %}
                            <p>*all of this data is before any financial aid or scholarships. This is not representative of the average cost to go to {{college.name}}</p>
                        </div>
                        <div class="dataGroup">
                            <h3 class="info">National Ranking</h3>
                            <p class="summary">Rank of college based on multiple sources</p>
                            <p>US News and World Report Rank: 
                                <br>{% if college.usnRank == 0 %}
                                Not Ranked
                                {% else %}
                                {{college.usnRank}}
                                {% endif %}
                            </p>
                            <p>Niche Rank: 
                                <br>{% if college.nicheRank == 0 %}
                                Not Ranked
                                {% else %}
                                {{college.nicheRank}}
                                {% endif %}
                            </p>
                            <p>Wall Street Journal Rank:
                                <br>{% if college.wsjRank == 0 %}
                                Not Ranked
                                {% else %}
                                {{college.wsjRank}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>    
            </div>
        </span>

        <div class="footer">
            <p>All data was gathered through the Common Data Set</p>
            <p>data is published voluntarily by universities</p>
        </div>

        <div class="intro">
            <div class="intro-text">
                <h1 class="hide">
                    <span class="text">{{ college.name }}</span>
                </h1>
                <h1 class="hide">
                    <span class="text">{{college.year}}</span>
                </h1>
                <h1 class="hide">
                    <span class="text">Information</span>
                </h1>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

        {% load static %}
        <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
        integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
        crossorigin="anonymous"
        ></script>

        <script type="text/javascript" src="{% static 'query/js/details.js' %}"></script>
    </body>
</html>
