{% extends "query/base.html" %}
{% block content%}
    {% if Colleges %}
        {% for college in Colleges %}
            <span class="collegeButtonContainer">
                <a class='collegeButton' href='{% url "details" college.id %}'>{{college.name}}</a>
                <p class="collegeSummary">{{ college.totalAcceptRate }}</p>
                <P class="collegeSummary">{{ college.year }}</P>
                <P class="collegeSummary">${{ college.totalCost }}</P>
                <p class="collegeSummary">{{college.satTotal25th}} - {{college.satTotal75th}}</p>
            </span>
            {% if forloop.last %}
                <span class="collegeButtonContainer last">
                    <a class='collegeButton' href='{% url "details" college.id %}'>{{college.name}}</a>
                    <p class="collegeSummary">{{ college.totalAcceptRate }}</p>
                    <P class="collegeSummary">{{ college.year }}</P>
                    <P class="collegeSummary">${{ college.totalCost }}</P>
                    <p class="collegeSummary">{{college.satTotal25th}} - {{college.satTotal75th}}</p>
                </span>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There are no colleges available at the moment</p>
    {% endif %}                
{% endblock content %}
